fastapi==0.115.6
uvicorn[standard]==0.34.0
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-multipart
jinja2
PyJWT
passlib[bcrypt]
celery
redis==4.6.0
email-validator

itsdangerous
eval-type-backport
bcrypt==4.0.1
edge-tts
alembic==1.14.1
requests==2.32.3
qrcode==7.4.2
