[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060
local_net=10.0.0.0/8
external_media_address=64.119.31.106
external_signaling_address=64.119.31.106

[mobinet_75004814]
type=endpoint
transport=transport-udp
context=from-mobinet
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
rtp_keepalive=2
rtp_timeout=6
rtp_timeout_hold=30
dtmf_mode=rfc4733
disallow=all
allow=ulaw,alaw
outbound_auth=mobinet_75004814_auth
aors=mobinet_75004814_aor
from_user=75004814
from_domain=ip-phone.mobinet.mn

[mobinet_75004814_auth]
type=auth
auth_type=userpass
username=75004814
password=change me

[mobinet_75004814_aor]
type=aor
contact=sip:202.131.253.177:5060
qualify_frequency=30
max_contacts=10

[mobinet_75004814_reg]
type=registration
outbound_auth=mobinet_75004814_auth
server_uri=sip:202.131.253.177:5060
client_uri=sip:75004814@ip-phone.mobinet.mn
contact_user=75004814
retry_interval=60
expiration=3600


[mobinet_75004817]
type=endpoint
transport=transport-udp
context=from-mobinet
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
rtp_keepalive=2
rtp_timeout=6
rtp_timeout_hold=30
dtmf_mode=rfc4733
disallow=all
allow=ulaw,alaw
outbound_auth=mobinet_75004817_auth
aors=mobinet_75004817_aor
from_user=75004817
from_domain=ip-phone.mobinet.mn

[mobinet_75004817_auth]
type=auth
auth_type=userpass
username=75004817
password=change-me

[mobinet_75004817_aor]
type=aor
contact=sip:202.131.253.177:5060
qualify_frequency=30
max_contacts=10

[mobinet_75004817_reg]
type=registration
outbound_auth=mobinet_75004817_auth
server_uri=sip:202.131.253.177:5060
client_uri=sip:75004817@ip-phone.mobinet.mn
contact_user=75004817
retry_interval=60
expiration=3600
